@font-face {
  font-family: "Aileron";
  src: url("/fonts/Aileron-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("/fonts/Aileron-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Aileron";
  src: url("/fonts/Aileron-Heavy.otf");
  font-weight: 900;
}

@font-face {
  font-family: "Aileron";
  src: url("/fonts/Aileron-Light.otf");
  font-weight: lighter;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Glyphicons Halflings";
  src: url("/fonts/glyphicons-halflings-regular.eot");
  src: url("/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

a:link, a:visited {
  color: internal value;
  text-decoration: none;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: internal value;
}

body {
  font-family: Aileron;
  background-color: white;
}
