//Bootstrap
@import "ember-bootstrap/bootstrap";
//Colors
@import 'colors';
// Base
@import 'base';

// HEADER
header {
    .navbar {

    background-color: $header-background-color;

    .navbar-nav .nav-item a{
        color: white;
    }

    .navbar-brand {
        margin-right: 50%;
    }

    .navbar-brand img{
        width: 10em;
        padding-left: 2em;
    }

    }
}

// FOOTER
footer {
    background-color: $footer-background-color;
    color: white;
    position: absolute;
    width: 100%;
    padding: 1.5em;
    font-size: 0.8rem;
    // Sticky footer
    // position: fixed;
    // left: 0;
    // bottom: 0;

    ul li {
        font-weight: 200;
        padding-top: 10px;
    }

    span {
        font-weight: 500;
        padding-bottom: 30px;
    }

    img {
        width: 15px;
        margin-right: 5px;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

#redCiudananaFooterImg .col-sm-4 {
    width: 32%;
    padding-top: 10px;
}

#redCiudananaFooterImg  {
    max-height: 6em;
    width: auto;
    padding-top: 10px;
}


#sectionimage {
  background:url('/img/portrait.jpg') no-repeat center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 15%;
  padding-top: 15%;
}

#sectionimage p {
  color: white;
  font-size: larger;
}

p, label {
    font-family: Aileron;
    color: #999999ff;
    border-radius: 0px;
    border-width: 0px;
}

label {
  font-weight: 700;
}

.primary-color {
    color: #6b40ca;
}

.secundary-color {
    color: #8465e6ff;
}

.context-color {
    color: #999999;
}

.btn-purple {
    background-color: #8465e6ff;
    color: white;
}

.btn-purple2 {
    background-color: #8263e6ff;
    color: white;
}

.btn-orange {
    background-color: #fda10aff;
    color: white;
}

#btn-buscar-escuela {
  background-color: red;
}

.img-responsive .center {
  margin-left: auto;
  margin-right: auto;
}

.content-container {
  background-color: #fff; 
}

.row-purple {
  height: 5rem;
  border-radius: 5px;
}

.row-purple img {
  height: 3rem;
}

.row-green {
  background-color: #2bbb50ff;
  color: white;
}

.morado-oscuro {
  background-color: #6b40caff;
}

.row-celeste {
  height: 5rem;
  border-radius: 5px;
  color: white;
}

.row-celeste img {
  height: 3rem;
}

.celeste {
  background-color: #17b8f7ff;
}

.celeste-oscuro {
  background-color: #0087feff;
}
