@import 'custom-variables';
@import "ember-bootstrap/bootstrap";
@imoprt "base"

.display-1, .display-2, .display-3, .display-4 {
  color: #6b40ca;
  font-family: "Aileron", sans-serif
}

.bg-green {
  background-color: $green;
}

.bg-yellow {
  background-color: $yellow;
}

.subjects-img {
  width: 80%;
}

h1, h2, h3, h4 {
  color: #6b40ca;
  font-family: "Aileron", sans-serif
}

video {
  width: 100%
}

// HEADER
header {
  .navbar {
    height: 6rem;
    background-color: $primary;

    .navbar-nav .nav-item a {
      color: white
    }

    .navbar-brand img {
      padding-left: 2em;
      height: 35px
    }

  }

}

// FOOTER
footer {
  background-color: $primary;
  color: white;
  position: absolute;
  width: 100%;
  font-size: 0.8rem;
  padding: 1.5rem;
  // Sticky footer
  // position: fixed;
  // left: 0;
  // bottom: 0;

  ul li {
    font-weight: 200;
    padding-top: 10px
  }

  span {
    font-weight: 500;
    padding-bottom: 30px
  }

  img {
    width: 15px;
    margin-right: 5px
  }

  a {
    text-decoration: none;
    color: white
  }

}

#redCiudananaFooterImg .col-sm-4 {
  width: 32%;
  padding-top: 10px
}

#redCiudananaFooterImg {
  max-height: 6em;
  width: auto;
  padding-top: 10px
}

#sectionimage {
  background: url('/img/portrait.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 15%;
  padding-top: 15%
}

#sectionimage p {
  color: white;
  font-size: larger
}

.paso-p {
  text-align: justify
}

.leaflet-container {
  width: 15rem;
  height: 15rem;
  margin: auto;
}

.tiny {
  width: 1.5rem;
  height: 1.5rem;
}
