<div class="page-buscar gray2">

    <div class="container text-center justify-content-center bg-white">
        <div class="sixteen columns margin-top-20">
            <h3 class="AileronBold">Busca tu escuela</h3>
            <p>Our new GreatSchools Summary Rating offers expanded information about important aspects of school quality.</p>
        </div>
    </div>

    <!-- Form -Buscar Escuela-->
    <form class="container margin-top-20 margin-bottom-20 white" style="padding: 1rem;">
        <div class="form-group sixteen columns">
            <label for="School">Nombre de la escuela</label>
            <input type="text" class="form-control" id="inputSchool">
        </div>
        <div class="form-group eight columns">
            <label for="Departamento">Departamento</label>
            <input type="text" class="form-control" id="inputDepartamento">
        </div>
        <div class="form-group eight columns">
            <label for="Municipio">Municipio</label>
            <input type="text" class="form-control" id="inputMunicipio">
        </div>
        <div class="form-group eight columns">
            <label for="levelSchool">Nivel escolar</label>
            <input type="text" class="form-control" id="inputLevelSchool">
        </div>
        <div class="form-group eight columns">
            <label for="Sector">Sector</label>
            <input type="text" class="form-control" id="inputSector">
        </div>
        <div class="form-group eight columns">
            <label for="Plan">Plan</label>
            <input type="text" class="form-control" id="inputPlan">
        </div>
        <div class="form-group eight columns">
            <label for="Modalidad">Modalidad</label>
            <input type="text" class="form-control" id="inputModalidad">
        </div>
        <div class="sixteen columns margin-top-20 text-center">
            <input type="submit" class="submit" id="submit" value="Send Message">
        </div>
    </form>

    <!-- Banner-Resultados -->
    <div class="container margin-top-20 margin-bottom-20">
        <div class="sixteen columns band-resultados">
            <h3 class="text-white">Resultados de la busquedad</h3>
        </div>
    </div>

    <!-- Resultados -->
    <div class="container margin-top-20 resultado">
        <div class="four columns">
            <img src="/img/image.png" alt="Imagen de escuela">
        </div>
        <div class="eight columns">
            <h2>Nombre de la escuela</h2>
            <ul>
                <li><strong>Departamento:</strong> Guatemala</li>
                <li><strong>Municipio:</strong> Guatemala</li>
                <li><strong>Nivel escolar:</strong> Medio</li>
            </ul>
        </div>
        <div class="tree columns">
            <ul>
                <li><a href="#" class="button orange"><i class="fa fa-search"></i>Conocer</a></li>
                <li><a href="#" class="button"><span class="ln ln-icon-Master-Card"></span>Comparar</a></li>
            </ul>
        </div>
    </div>

    <div class="container margin-top-20 resultado">
        <div class="four columns">
            <img src="/img/image.png" alt="Imagen de escuela">
        </div>
        <div class="eight columns">
            <h2>Nombre de la escuela</h2>
            <ul>
                <li><strong>Departamento:</strong> Guatemala</li>
                <li><strong>Municipio:</strong> Guatemala</li>
                <li><strong>Nivel escolar:</strong> Medio</li>
            </ul>
        </div>
        <div class="tree columns">
            <ul>
                <li><a href="#" class="button orange"><i class="fa fa-search"></i>Conocer</a></li>
                <li><a href="#" class="button"><span class="ln ln-icon-Master-Card"></span>Comparar</a></li>
            </ul>
        </div>
    </div>

</div>
