<div id="sectionimage" class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12">
            <p><strong>Conoce tu escuela.org</strong> es una plataforma de participacion ciudadana para transformar la educación en Guatemala</p>
            <div class="d-inline">
                <input type="text" class="form-control" placeholder="Busca una escuela" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append mt-2">
                    <button class="btn btn-purple" type="button">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Section -->
<div class="container-fluid" style="background-color: #f4f4f4">
    <div class="row align-items-center py-4">
        <div class="col-12 col-md-6 text-center">
            <h2>Conoce tu escuela</h2>
            <p>Te invita a buscar y conocer como está la escuela de tus hijos, cosas que necesitan mejorar y las que ya están haciendo bien.</p>
        </div>
        <div class="col-12 col-md-6">
            <video controls>
                <source src="video.mp4" type="video/mp4">
                Ups ha ocurrido un error con el video.
            </video>
        </div>
    </div>
</div>
<!-- Step Section -->
<div class="container bg-white py-4">
    <div class="row mb-4">
        <div class="col text-center">
            <h1 class="secundary-color">¿Cómo funciona</h1>
            <h2 class="secundary-color">Conoce tu escuela.org?</h2>
        </div>
    </div>
    <!-- Paso 1 -->
    <div class="row mb-4">
        <div class="col-md-6 col-12">
            <h4 class="aileron-bold primary-color">Paso 1</h4>
            <h2 class="mb-4">Busca tu escuela</h2>
            <p class="paso-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi necessitatibus quia illo velit, dicta aliquam pariatur hic, dolore? Hic nemo eum ducimus? Tenetur eaque doloribus esse quae sapiente qui ex. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolor velit error nobis placeat neque modi soluta amet laboriosam cum deleniti obcaecati quas voluptate nam, eaque, consequatur atque, dolorum ducimus!</p>
        </div>
        <div class="col-md-6 col-12">
            <video controls>
                <source src="video.mp4" type="video/mp4">
                Ups ha ocurrido un error con el video.
            </video>
        </div>
    </div>
    <!-- Paso 2 -->
    <div class="row mb-4">
        <div class="col-md-6 col-12 order-12 order-md-1">
           <video controls>
                <source src="video.mp4" type="video/mp4">
                Ups ha ocurrido un error con el video.
            </video>
        </div>
        <div class="col-md-6 col-12 order-1 order-md-12 ">
            <h4 class="aileron-bold primary-color">Paso 2</h4>
            <h2 class="mb-4">Conoce tu escuela</h2>
            <p class="paso-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi necessitatibus quia illo velit, dicta aliquam pariatur hic, dolore? Hic nemo eum ducimus? Tenetur eaque doloribus esse quae sapiente qui ex. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolor velit error nobis placeat neque modi soluta amet laboriosam cum deleniti obcaecati quas voluptate nam, eaque, consequatur atque, dolorum ducimus!</p>
        </div>
    </div>
    <!-- Paso 3 -->
    <div class="row mb-4">
        <div class="col-md-6 col-12">
            <h4 class="aileron-bold primary-color">Paso 3</h4>
            <h2 class="mb-4">Compara tu escuela</h2>
            <p class="paso-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi necessitatibus quia illo velit, dicta aliquam pariatur hic, dolore? Hic nemo eum ducimus? Tenetur eaque doloribus esse quae sapiente qui ex. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolor velit error nobis placeat neque modi soluta amet laboriosam cum deleniti obcaecati quas voluptate nam, eaque, consequatur atque, dolorum ducimus!</p>
        </div>
        <div class="col-md-6 col-12 text-center">
            <video controls>
                <source src="video.mp4" type="video/mp4">
                Ups ha ocurrido un error con el video.
            </video>
        </div>
    </div>
</div>
