{{!-- Pills Routes --}}
<div class="container">

    <div class="four columns">
        <a href="#" class="button pills">
            <img src="/img/school.svg" alt="Datos generales">
            <span>Escuela</span>
        </a>
    </div>

    <div class="four columns">
        <a href="#" class="button pills">
            <img src="/img/pen.svg" alt="Datos generales">
            <span>Compara</span>
        </a>
    </div>

    <div class="four columns">
        <a href="#" class="button pills">
            <img src="/img/report.svg" alt="Datos generales">
            <span>Reporta</span>
        </a>
    </div>

    <div class="four columns text-center">
        <span>Social Share</span>
    </div>

</div>
{{!-- Form --}}
<div class="container">

    <div class="two-thirds column" id="form-school">
        <form action="">
            <div>
                <h6 for="Departamento">Departamento:</h6>
                <input type="text">
            </div>
            <div>
                <h6 for="Municipio">Municipio:</h6>
                <input type="text">
            </div>
            <div>
                <h6 for="NivelEscolar">Nivel escolar:</h6>
                <input type="text">
            </div>
            <div>
                <h6 for="Establecimiento">Establecimiento:</h6>
                <input type="text">
            </div>
            <div>
                <h6 for="Nivel">Nivel:</h6>
                <input type="text">
            </div>
            <div>
                <h6 for="Sector">Sector:</h6>
                <input type="text">
            </div>
            <div>
                <h6 for="Area">Área:</h6>
                <input type="text">
            </div>
        </form>
    </div>

    <div class="one-thirds column">
        
    </div>

</div>
